flows.json
[{"id":"6e6c2b9e.83ce04","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aa6e997f.b2d37","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"9b8f0deb.e7254","type":"tab","label":"config","disabled":false,"info":""},{"id":"28e221d5.8a3e26","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"158bd2e.a52972d","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7cb6dcfb.2816e4","type":"mqtt-broker","name":"","broker":"192.168.0.29","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bdff3063.54a578","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":6,"py":0}}},{"id":"fa114a1.5340638","type":"ui_tab","name":"Lo del DND","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e927533e.bb98a8","type":"ui_group","name":"TempUI","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3a15bc4c.c5b9c4","type":"ui_group","name":"Group 1","tab":"fa114a1.5340638","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"54e242de.e8b8c4","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"eabf96f1.cf2a38","type":"mqtt-broker","name":"Mosquitto broker","broker":"192.168.0.77","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dda752c9.8596f8","type":"ui_tab","name":"ESP2","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"89ceefe2.b6997","type":"ui_group","name":"Sensor1","tab":"dda752c9.8596f8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f68a9d90.3fe998","type":"ui_tab","name":"ESP3","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"581e1d38.33045c","type":"ui_group","name":"Sensor2","tab":"f68a9d90.3fe998","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c2758c87.36e1e8","type":"mqtt in","z":"6e6c2b9e.83ce04","name":"mqtt_IN","topic":"outTopic","qos":"2","datatype":"auto","broker":"7cb6dcfb.2816e4","nl":false,"rap":true,"rh":0,"x":120,"y":160,"wires":[["b22e6eba.c911b8"]]},{"id":"c2301eb1.6297b8","type":"debug","z":"6e6c2b9e.83ce04","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":140,"wires":[]},{"id":"7bf900b2.9950e","type":"inject","z":"6e6c2b9e.83ce04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"inTopic","payload":"1","payloadType":"str","x":130,"y":300,"wires":[["647863b7.e8fbdc"]]},{"id":"647863b7.e8fbdc","type":"mqtt out","z":"6e6c2b9e.83ce04","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7cb6dcfb.2816e4","x":550,"y":300,"wires":[]},{"id":"3c20e670.4d3e5a","type":"inject","z":"6e6c2b9e.83ce04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"inTopic","payload":"3","payloadType":"str","x":110,"y":400,"wires":[[]]},{"id":"65ebe5a4.9f0994","type":"inject","z":"6e6c2b9e.83ce04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"inTopic","payload":"2","payloadType":"str","x":130,"y":260,"wires":[["647863b7.e8fbdc"]]},{"id":"5f39d317.5db35c","type":"inject","z":"6e6c2b9e.83ce04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"inTopic","payload":"4","payloadType":"str","x":130,"y":360,"wires":[[]]},{"id":"2a1bd992.00ffee","type":"inject","z":"6e6c2b9e.83ce04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"inTopic","payload":"6","payloadType":"str","x":280,"y":480,"wires":[["647863b7.e8fbdc"]]},{"id":"7e19f2bb.ec23b4","type":"inject","z":"6e6c2b9e.83ce04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DataTransfer","payload":"\"Hello Madafaka\"","payloadType":"str","x":190,"y":440,"wires":[["647863b7.e8fbdc"]]},{"id":"e5cd25d2.2d777","type":"file","z":"6e6c2b9e.83ce04","name":"","filename":"Data","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":630,"y":80,"wires":[[]]},{"id":"b22e6eba.c911b8","type":"switch","z":"6e6c2b9e.83ce04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Que calabacita","vt":"str"},{"t":"eq","v":"POT_LED_OFF","vt":"str"},{"t":"eq","v":"load","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":270,"y":100,"wires":[["e5cd25d2.2d777"],["a5f898ee.c500a"],["4e3ae3f4.a012cc"]]},{"id":"a5f898ee.c500a","type":"range","z":"6e6c2b9e.83ce04","minin":"915","maxin":"1024","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":460,"y":140,"wires":[["c2301eb1.6297b8"]]},{"id":"88c8d1e.46b853","type":"mqtt in","z":"aa6e997f.b2d37","name":"mqtt_IN","topic":"player1","qos":"2","datatype":"auto","broker":"7cb6dcfb.2816e4","nl":false,"rap":true,"rh":0,"x":110,"y":300,"wires":[["a6bc8db6.49712"]]},{"id":"ca661e82.d6a538","type":"ui_toast","z":"aa6e997f.b2d37","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"player1","name":"Identificator","x":490,"y":420,"wires":[]},{"id":"1ce941bd.5b521e","type":"ui_gauge","z":"aa6e997f.b2d37","name":"","group":"3a15bc4c.c5b9c4","order":1,"width":"2","height":"2","gtype":"gage","title":"HP","label":"","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":750,"y":100,"wires":[]},{"id":"d616d8ae.d516b","type":"mqtt out","z":"6e6c2b9e.83ce04","name":"config","topic":"configJson","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7cb6dcfb.2816e4","x":670,"y":220,"wires":[]},{"id":"4e3ae3f4.a012cc","type":"file in","z":"6e6c2b9e.83ce04","name":"","filename":"/home/pi/Documents/2000_DnD_Homebrew_WebpageSetup_mqtt/M_894.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":180,"wires":[["d616d8ae.d516b"]]},{"id":"342317e3.0d441","type":"mqtt in","z":"9b8f0deb.e7254","name":"","topic":"config","qos":"2","datatype":"auto","broker":"7cb6dcfb.2816e4","nl":false,"rap":true,"rh":0,"x":120,"y":120,"wires":[["10d855e3.8762da"]]},{"id":"10d855e3.8762da","type":"debug","z":"9b8f0deb.e7254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":120,"wires":[]},{"id":"14a7e3ef.71c484","type":"mqtt in","z":"9b8f0deb.e7254","name":"mqtt_IN","topic":"DataSave","qos":"2","datatype":"auto","broker":"7cb6dcfb.2816e4","nl":false,"rap":true,"rh":0,"x":150,"y":400,"wires":[["43f18511.841bc4","68859e69.b787b8"]]},{"id":"43f18511.841bc4","type":"debug","z":"9b8f0deb.e7254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":360,"wires":[]},{"id":"37a737c6.9975b8","type":"file","z":"9b8f0deb.e7254","name":"","filename":"/home/pi/Documents/TransferedData","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":650,"y":420,"wires":[[]]},{"id":"7dbbfa08.b2d214","type":"debug","z":"9b8f0deb.e7254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":360,"wires":[]},{"id":"68859e69.b787b8","type":"json","z":"9b8f0deb.e7254","name":"","property":"payload","action":"","pretty":false,"x":350,"y":420,"wires":[["37a737c6.9975b8","7dbbfa08.b2d214"]]},{"id":"95e96456.9d5fe","type":"ui_gauge","z":"aa6e997f.b2d37","name":"","group":"3a15bc4c.c5b9c4","order":1,"width":"2","height":"2","gtype":"gage","title":"Mana","label":"units","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":790,"y":220,"wires":[]},{"id":"2642abf9.707ce4","type":"ui_gauge","z":"aa6e997f.b2d37","name":"","group":"3a15bc4c.c5b9c4","order":1,"width":"2","height":"2","gtype":"gage","title":"Ammo","label":"units","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":790,"y":320,"wires":[]},{"id":"758cbedd.221a","type":"ui_gauge","z":"aa6e997f.b2d37","name":"","group":"3a15bc4c.c5b9c4","order":1,"width":"2","height":"2","gtype":"gage","title":"Money","label":"units","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":790,"y":400,"wires":[]},{"id":"8f0d5417.efa96","type":"ui_audio","z":"aa6e997f.b2d37","name":"","group":"3a15bc4c.c5b9c4","voice":"urn:moz-tts:sapi:Microsoft Helena Desktop - Spanish (Spain)?es-ES","always":"","x":440,"y":20,"wires":[]},{"id":"96eba6e5.126728","type":"ui_text_input","z":"aa6e997f.b2d37","name":"","label":"","tooltip":"","group":"3a15bc4c.c5b9c4","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"player1","sendOnBlur":true,"topicType":"msg","x":80,"y":20,"wires":[["8f0d5417.efa96"]]},{"id":"cbfff7bb.b30b4","type":"inject","z":"aa6e997f.b2d37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"player1","payload":"attack","payloadType":"str","x":110,"y":180,"wires":[["a6bc8db6.49712"]]},{"id":"9393224c.7f1ba8","type":"function","z":"aa6e997f.b2d37","name":"","func":"return msg++;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar hp = 10","finalize":"","libs":[],"x":540,"y":140,"wires":[["1ce941bd.5b521e","2b08cb03.5b933c"]]},{"id":"a6bc8db6.49712","type":"switch","z":"aa6e997f.b2d37","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ID","vt":"str"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":200,"wires":[["ca661e82.d6a538"],["9393224c.7f1ba8"]]},{"id":"2b08cb03.5b933c","type":"debug","z":"aa6e997f.b2d37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":180,"wires":[]},{"id":"35f6188e.070cd","type":"inject","z":"aa6e997f.b2d37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"str","x":590,"y":80,"wires":[["1ce941bd.5b521e"]]},{"id":"b284eb3.6b0d318","type":"inject","z":"aa6e997f.b2d37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"topic","payload":"10","payloadType":"str","x":380,"y":100,"wires":[["9393224c.7f1ba8"]]},{"id":"44f16015.b5ebb","type":"inject","z":"9b8f0deb.e7254","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":220,"wires":[["f88ed26a.4c09e8"]]},{"id":"f88ed26a.4c09e8","type":"mqtt out","z":"9b8f0deb.e7254","name":"Termometer 1","topic":"TEMP-1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7cb6dcfb.2816e4","x":390,"y":240,"wires":[]},{"id":"9bcb15fc.ea2bc","type":"mqtt in","z":"28e221d5.8a3e26","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"eabf96f1.cf2a38","nl":false,"rap":true,"rh":0,"x":60,"y":220,"wires":[["19b9a61d.596d12","a5c6f5bb.48034","eb2f4860.e95f","fc861725.fdd7c8","3240c61e.5e7ac2"]]},{"id":"c31c773c.fb553","type":"file","z":"28e221d5.8a3e26","name":"","filename":"/home/pi/TempData/data1","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":910,"y":160,"wires":[[]]},{"id":"80297910.c7f418","type":"delay","z":"28e221d5.8a3e26","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":80,"wires":[["43eeb751.e92198"]]},{"id":"19b9a61d.596d12","type":"switch","z":"28e221d5.8a3e26","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"2147483647","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":200,"wires":[[],["80297910.c7f418","b5905a41.88ed28","583443a1.b904bc","b9f93b98.5b5f2"]]},{"id":"5eb307d0.b7d4f8","type":"exec","z":"28e221d5.8a3e26","command":"python /home/pi/TempData/log_data.py ","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":920,"y":80,"wires":[[],[],[]]},{"id":"a5c6f5bb.48034","type":"debug","z":"28e221d5.8a3e26","name":"humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"$split(msg.payload, \":\")[2]","targetType":"jsonata","statusVal":"","statusType":"auto","x":80,"y":60,"wires":[]},{"id":"eb2f4860.e95f","type":"debug","z":"28e221d5.8a3e26","name":"temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"$split(msg.payload, \":\")[1]","targetType":"jsonata","statusVal":"","statusType":"auto","x":70,"y":100,"wires":[]},{"id":"9092c22a.8c3cf8","type":"debug","z":"28e221d5.8a3e26","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":120,"wires":[]},{"id":"f99321bf.3c07","type":"debug","z":"28e221d5.8a3e26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":340,"wires":[]},{"id":"c5393599.6d2fa8","type":"join","z":"28e221d5.8a3e26","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":210,"y":340,"wires":[["f99321bf.3c07"]]},{"id":"fc861725.fdd7c8","type":"split","z":"28e221d5.8a3e26","name":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":90,"y":340,"wires":[["c5393599.6d2fa8"]]},{"id":"43eeb751.e92198","type":"function","z":"28e221d5.8a3e26","name":"","func":"temp = msg.payload.split(\":\")[1];\nhum = msg.payload.split(\":\")[2];\nname = msg.topic;\nmsg.payload =temp + hum +' '+ name\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":80,"wires":[["9092c22a.8c3cf8","5eb307d0.b7d4f8"]]},{"id":"b2148e00.39acd","type":"comment","z":"28e221d5.8a3e26","name":"Another way to split","info":"Another way to split data instead of using the javascript funct node","x":230,"y":300,"wires":[]},{"id":"77bf5eef.18d6c","type":"comment","z":"28e221d5.8a3e26","name":"Javascript split","info":"temp = msg.payload.split(\":\")[1];\nhum = msg.payload.split(\":\")[2];\nmsg.payload =temp + hum\nreturn msg;","x":600,"y":40,"wires":[]},{"id":"b5905a41.88ed28","type":"delay","z":"28e221d5.8a3e26","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":160,"wires":[["c31c773c.fb553"]]},{"id":"d6faaace.cb6be","type":"comment","z":"28e221d5.8a3e26","name":"Can only do one delay output per node","info":"","x":770,"y":200,"wires":[]},{"id":"eddcad7.2e190d","type":"comment","z":"28e221d5.8a3e26","name":"How to parse the msg.payload","info":"msg is a dictionary that needs to update the payload so when you split do: \n\nmsg.payload = msg.payload.split(\":\")[1]......\n\nreturn msg","x":140,"y":20,"wires":[]},{"id":"53f2b887.ac223","type":"ui_gauge","z":"28e221d5.8a3e26","name":"","group":"89ceefe2.b6997","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature ","label":"Celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":810,"y":260,"wires":[]},{"id":"583443a1.b904bc","type":"function","z":"28e221d5.8a3e26","name":"","func":"temp = msg.payload.split(\":\")[1];\nhum = msg.payload.split(\":\")[2];\nmsg.payload =temp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":260,"wires":[["53f2b887.ac223","65a50061.52dba"]]},{"id":"b9f93b98.5b5f2","type":"function","z":"28e221d5.8a3e26","name":"","func":"temp = msg.payload.split(\":\")[1];\nhum = msg.payload.split(\":\")[2];\nmsg.payload =hum\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":320,"wires":[["3642b959.8e2716"]]},{"id":"3642b959.8e2716","type":"ui_gauge","z":"28e221d5.8a3e26","name":"","group":"89ceefe2.b6997","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidty","label":"%Humidity","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":800,"y":320,"wires":[]},{"id":"65a50061.52dba","type":"ui_chart","z":"28e221d5.8a3e26","name":"","group":"89ceefe2.b6997","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":980,"y":300,"wires":[[]]},{"id":"3240c61e.5e7ac2","type":"debug","z":"28e221d5.8a3e26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":70,"y":140,"wires":[]},{"id":"547e1be6.cfac44","type":"mqtt in","z":"158bd2e.a52972d","name":"","topic":"outTopic2","qos":"2","datatype":"auto","broker":"eabf96f1.cf2a38","nl":false,"rap":true,"rh":0,"x":120,"y":200,"wires":[["51c73987.dc2cd8","13257267.3c02f6","fef09479.c9e1b","cdaa0e7f.ffe7b","bff72073.526278","65f07eac.7dee4"]]},{"id":"dc86efda.43006","type":"file","z":"158bd2e.a52972d","name":"","filename":"/home/pi/TempData/data1","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":970,"y":140,"wires":[[]]},{"id":"5e752036.35d1b","type":"delay","z":"158bd2e.a52972d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"16","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":480,"y":60,"wires":[["18605946.6e726f"]]},{"id":"51c73987.dc2cd8","type":"switch","z":"158bd2e.a52972d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"2147483647","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":180,"wires":[[],["5e752036.35d1b","dc4aa262.dc52b","e5e42201.95e9a","95e8c871.de5d28"]]},{"id":"16657dfd.b66b82","type":"exec","z":"158bd2e.a52972d","command":"python /home/pi/TempData/log_data.py ","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":980,"y":60,"wires":[[],[],[]]},{"id":"13257267.3c02f6","type":"debug","z":"158bd2e.a52972d","name":"humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"$split(msg.payload, \":\")[2]","targetType":"jsonata","statusVal":"","statusType":"auto","x":140,"y":40,"wires":[]},{"id":"fef09479.c9e1b","type":"debug","z":"158bd2e.a52972d","name":"temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"$split(msg.payload, \":\")[1]","targetType":"jsonata","statusVal":"","statusType":"auto","x":130,"y":80,"wires":[]},{"id":"bd8b8815.3d3ac","type":"debug","z":"158bd2e.a52972d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":100,"wires":[]},{"id":"fb82b741.e3a478","type":"debug","z":"158bd2e.a52972d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":320,"wires":[]},{"id":"290d4d69.efecfa","type":"join","z":"158bd2e.a52972d","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":270,"y":320,"wires":[["fb82b741.e3a478"]]},{"id":"cdaa0e7f.ffe7b","type":"split","z":"158bd2e.a52972d","name":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":150,"y":320,"wires":[["290d4d69.efecfa"]]},{"id":"18605946.6e726f","type":"function","z":"158bd2e.a52972d","name":"","func":"temp = msg.payload.split(\":\")[1];\nhum = msg.payload.split(\":\")[2];\nname = msg.topic;\nmsg.payload =temp + hum +' '+ name\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":60,"wires":[["bd8b8815.3d3ac","16657dfd.b66b82"]]},{"id":"a740725.0386e9","type":"comment","z":"158bd2e.a52972d","name":"Another way to split","info":"Another way to split data instead of using the javascript funct node","x":290,"y":280,"wires":[]},{"id":"5510eddb.b08124","type":"comment","z":"158bd2e.a52972d","name":"Javascript split","info":"temp = msg.payload.split(\":\")[1];\nhum = msg.payload.split(\":\")[2];\nmsg.payload =temp + hum\nreturn msg;","x":660,"y":20,"wires":[]},{"id":"dc4aa262.dc52b","type":"delay","z":"158bd2e.a52972d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"16","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":480,"y":140,"wires":[["dc86efda.43006"]]},{"id":"61da7366.266f1c","type":"comment","z":"158bd2e.a52972d","name":"Can only do one delay output per node","info":"","x":830,"y":180,"wires":[]},{"id":"95556489.578fd","type":"ui_gauge","z":"158bd2e.a52972d","name":"","group":"581e1d38.33045c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature ","label":"Celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":870,"y":240,"wires":[]},{"id":"e5e42201.95e9a","type":"function","z":"158bd2e.a52972d","name":"","func":"temp = msg.payload.split(\":\")[1];\nhum = msg.payload.split(\":\")[2];\nmsg.payload =temp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":240,"wires":[["95556489.578fd","66553326.475ca4"]]},{"id":"95e8c871.de5d28","type":"function","z":"158bd2e.a52972d","name":"","func":"temp = msg.payload.split(\":\")[1];\nhum = msg.payload.split(\":\")[2];\nmsg.payload =hum\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["b28bb9d6.be2c68"]]},{"id":"b28bb9d6.be2c68","type":"ui_gauge","z":"158bd2e.a52972d","name":"","group":"581e1d38.33045c","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidty","label":"%Humidity","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":860,"y":300,"wires":[]},{"id":"66553326.475ca4","type":"ui_chart","z":"158bd2e.a52972d","name":"","group":"581e1d38.33045c","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1040,"y":280,"wires":[[]]},{"id":"bff72073.526278","type":"debug","z":"158bd2e.a52972d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":130,"y":120,"wires":[]},{"id":"65f07eac.7dee4","type":"debug","z":"158bd2e.a52972d","name":"topic","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg.topic","targetType":"jsonata","statusVal":"","statusType":"auto","x":130,"y":260,"wires":[]}]