flows.json
[{"id":"28e221d5.8a3e26","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7fbdd56f.345f3c","type":"debug","z":"28e221d5.8a3e26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":120,"wires":[]},{"id":"9bcb15fc.ea2bc","type":"mqtt in","z":"28e221d5.8a3e26","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"eabf96f1.cf2a38","nl":false,"rap":true,"rh":0,"x":120,"y":120,"wires":[["7fbdd56f.345f3c","19b9a61d.596d12"]]},{"id":"c31c773c.fb553","type":"file","z":"28e221d5.8a3e26","name":"","filename":"/home/pi/TempData/data1","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":610,"y":200,"wires":[[]]},{"id":"80297910.c7f418","type":"delay","z":"28e221d5.8a3e26","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":400,"y":200,"wires":[["c31c773c.fb553"]]},{"id":"19b9a61d.596d12","type":"switch","z":"28e221d5.8a3e26","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"2147483647","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":200,"wires":[[],["80297910.c7f418"]]},{"id":"eabf96f1.cf2a38","type":"mqtt-broker","name":"Mosquitto broker","broker":"192.168.0.77","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]